.centered {
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 요소를 수직으로 배치 */
    justify-content: center; /* 수직 방향으로 가운데 정렬 */
    align-items: center; /* 가로 방향으로 가운데 정렬 */
    height: 100vh; /* 화면 전체 높이를 차지하도록 설정 */
}

.title{
    font-size: 100px;
    color: red;
}

.button{
    font-size: 35px;
    background-color: red;
    color: white;
    border: none; /* 테두리 제거 */
    border-radius: 0.25rem; /* 버튼을 동그랗게 만듭니다 */
    padding: 20px 40px; /* 내부 여백을 조절하여 버튼의 크기를 늘립니다 */
}
